<ion-header>
  <ion-toolbar>
    <ion-title>Categorias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let c of categorias">
      <ion-item (click)="editCategoria(c.id)">
        <h2>{{c.nome}}</h2>
      </ion-item>
      <ion-item-options side="end">
        <ion-button color="danger" (click)="removeCategoria(c.id)">
          <ion-icon name="trash"></ion-icon>
          Excluir
        </ion-button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab>
    <ion-fab-button color="light" (click)="addCategoria()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
