<ion-header>
  <ion-toolbar>
    <ion-title>
      Ínicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card fullscreen>
      <img src="/assets/iff.png" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Gerenciamento de Clube</ion-card-subtitle>
        <ion-card-title>Sobre</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>O Aplicativo utiliza a API do Sistema de Gerenciamento de Clube para facilitar a inserção 
          de novas categorias.
        </p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Grupo</ion-label>
      </ion-list-header>
      <ion-item href="https://github.com/lsolino">
        <ion-label>Luan Soliño</ion-label>
      </ion-item>
      <ion-item href="">
        <ion-label>Matheus Melo</ion-label>
      </ion-item>
      <ion-item href="https://github.com/Jleite10">
        <ion-label>João Leite</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
